.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 80%;
  margin: 0 auto;
}
.root {
  padding: 4px 4px;
  display: "flex";
  align-items: "center";
  width: 100%;
  height: fit-content;
}
