.drawer {
  width: 240px;
}

.appBar {
  background: #60695c !important;
}

.typping {
  position: absolute;
  left: 72px;
  top: 36px;
}

.appTitle {
  padding-left: 15px;
}

.content {
  margin-top: 70px;
}
